.diet-section {
  margin: 20px 5px 0 5px;
  padding: 15px;
  border-radius: 10px;
  background-color: #F8F8FF;
}

.diet-section h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.diet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.diet-chart {
  padding: 20px;
  background-color: #fee;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}