.exercise-section {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fef2f2;
  }
  
  .exercise-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .exercise-buttons {
    display: flex;
    flex-direction: column;
  }
  
  .exercise-buttons button {
    background-color: #f77;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .exercise-details {
    flex-grow: 1;
    margin-left: 15px;
    padding: 20px;
    background-color: #fee;
    border-radius: 5px;
    text-align: center;
  }
  