.Memberheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 15px;
}

.Profile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.member-name {
  font-size: 18px;
  font-weight: bold;
}

.logout-btn {
  background: #ff4040;
  color: white;
  border: none;
  font-weight: bold;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}
.logout-btn:hover {
  background: #fe0606;
}